<div class="container">
    <div class="row no-gutters">  
        <div class="col-lg-6">
          <div class="chart-element">
            <img class="img-fluid" src="https://i.imgur.com/StXe6CK.png">
          </div>
        </div>

        <div class="col-lg-6">
            <div class="chart-element">
                <img class="img-fluid" src="https://wcs.smartdraw.com/bar-graph/img/simplebarchart.jpg?bn=1510011145">
              </div>
          </div>

        <div class="col-lg-6">
            <div class="chart-element">
                <img class="img-fluid" src="https://img1.ibay.com.mv/is1/full/2019/03/item_2556812_894.jpg">
              </div>
          </div>

          <div class="col-lg-6">
              <div class="chart-element">
                  <img class="img-fluid" src="http://www.niceprepaid.mv/images/listing/8714B4CB-0C46-4F7B-9729-CCE6A2F6D4C7.png">
                </div>
            </div>


    </div>

</div>