<div class="grid-container">
  <!-- <h1 id='detailsInfo'></h1> -->
  <div *ngIf='people'>
    <p style="text-align: center"><b>Informacje o zmarłych w danym grobie</b></p>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th style="background: #343A40; font-family: Calibri" scope="col">Imię i nazwisko</th>
            <th style="background: #343A40; font-family: Calibri" scope="col">Data urodzenia</th>
            <th style="background: #343A40; font-family: Calibri" scope="col">Data śmierci</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let person of people">
            <th style="font-family: Calibri" scope="row"><b>{{ person.name }} {{ person.surname }}</b></th>  
            <td style="font-family: Calibri" >{{ person.birthDate }}</td>
            <td style="font-family: Calibri" >{{ person.deathDate }}</td> 
          </tr> 
        </tbody>
    </table>
  </div>
 </div>
<br>
  <br>
  <br>