<div class="grid-container">

  <div *ngIf='people'>
    <p style="text-align: center"><b>Informacje o zmarłych</b></p>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th style="background: #343A40" scope="col">Imię i nazwisko</th>
            <th style="background: #343A40" scope="col">Data urodzenia</th>
            <th style="background: #343A40" scope="col">Data śmierci</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let person of people">
            <th scope="row"><b>{{ person.name }} {{ person.surname }}</b></th>  
            <td>{{ person.birthDate }}</td>
            <td>{{ person.deathDate }}</td> 
          </tr> 
        </tbody>
    </table>
  </div>
 </div>
<br>
  <br>
  <br>