<div class="container">
  <br>
<div class="row no-gutters">  
  <div class="col-md-6">
    <div class="text-element">
      <h3>
        <b>Witaj na stronie cmentarza w Podrzeczu</b>
      </h3><br>
      <h4> Cmentarz jest cmentarzem parafialnym parafii pw. N.M.P. w Świniarsku<br>
      Wybierając zakładki z górnego paska menu, możesz zobaczyć:
      <ul>
        <li>mapę cmentarza wraz z wyszukiwarką grobów</li>
        <li>statystyki dotyczące cmentarza</li>
      </ul></h4>
    </div>
      
  </div>
  <div class="col-md-6">
    <div class="picture-element">
      <br><img src="https://sadeczanin.info/sites/default/files/gallery/_DSC0423_0.jpg" class="img-fluid" alt="cmentarz">
    </div>
  </div>

</div>
</div>