<div class="container">
  
<div class="row no-gutters">  
  <div class="col-md-6">
    <div class="text-element">
      <h3>
        <b><br>Witaj na stronie cmentarza w Podrzeczu</b>
      </h3><br>
      <h4> Cmentarz parafialny parafii NMP Królowej Polski w Świniarsku.<br><br>
      Wybierając zakładki z górnego paska menu, możesz zobaczyć:
      <ul>
        <li>mapę cmentarza wraz z wyszukiwarką grobów</li>
        <li>spis wszystkich zmarłych spoczywających na cmentarzu</li>
        <li>statystyki dotyczące cmentarza</li>
        <li>kontakt do zarządcy cmentarza</li>
      </ul></h4>
    </div>
      
  </div>
  <div class="col-md-6">
    <div class="picture-element">
      <!-- <br><img src="https://sadeczanin.info/sites/default/files/gallery/_DSC0423_0.jpg" class="img-fluid" alt="cmentarz"> -->
      <br><img src="https://i.ibb.co/qxL779q/IMG-20190929-135647.jpg" class="img-fluid" alt="cmentarz">
    </div>
  </div>

</div>
</div>