<div class="container">
    <div class="row no-gutters">  
      <div class="col-md-4">
        <div class="text-element">
          <h4>
            <b>Dane kontaktowe</b>
          </h4><br>
          <h6> Zarząd Gospodarki Komunalnej w Podegrodziu - zarządca Cmentarza Komunalnego w Podrzeczu 
            informuje, że załatwianie spraw formalno-organizacyjnych dot. cmentarza ( w tym dotyczących
            pogrzebów), odbywa się w siedzibie gminnej oczyszczalni ścieków w Podrzeczu, w godzinach 8.00-16:00.
            <br>
            Sprawami zajmuje się Pan <b>Michał Pietrzak</b><br>
            W sprawach nagłych prosimy o kontakt pod numerem telefonu: <b>662 479 950</b><br>
          
          <br>
          <h6>
            Jeśli masz pomysł na nową funkcjonalność na stronie, znalałeś błąd w danych prezentowanych na stronie
            lub strona nie działa poprawnie skontaktuj się z adminstatorem strony pod adresem mailowym: <b>kamil.leczycki.ns@gmail.com</b>
          </h6>
          </h6>
          <br>
          <br>
        </div>
          
      </div>
      <br>
      <div class="col-md-6">
        <div class="picture-element">
          <!-- <img src="http://212.59.240.132/zdjecia/podrzecze/galeria/2.JPG" class="img-fluid" alt="cmentarz"> -->
          <img src="https://i.ibb.co/G2m94ss/IMG-20190929-135824.jpg" class="img-fluid" alt="cmentarz">
           
        </div>
      </div>

      <div class="col-md-2">
        <div class="info-element">
          <h5>
            <b><br>Linki</b>
          </h5>
          <h6>Strona parafii NMP w Świniarsku<br>
            <a href="http://www.parswiniarsko.seva.pl/pl" title="Kościół Parafialny w Świniarsku." 
            target="_blank"><img src="http://img.iap.pl/s/461/201432/Edytor/Image/kontakt.jpg" height="90" width="90"></a>
            <br>
            <br>Zachęcamy do wyrażenia swojej opini na temat strony poprzez udział w ankiecie<br>
            <a href="https://forms.gle/H5sX9nRLouCM5UX2A" title="web counter">ANKIETA</a>
            <br>
            <br>Licznik odwiedzin:<br>
            <a href="https://www.freecounterstat.com" title="free web counter"><img src="https://counter10.wheredoyoucomefrom.ovh/private/freecounterstat.php?c=6y8nt3jwrgfd6czth8b7a46lst34abk6" border="0" title="free web counter" alt="free web counter"></a>

    
            
          </h6>
          
        </div>
          
      </div>
          
    </div>
    </div>