<div class="container">
    <div class="row no-gutters">  
      <div class="col-md-6">
        <div class="text-element">
          <h3>
            <b>Dane kontaktowe</b>
          </h3><br>
          <h5> Zarząd Gospodarki Komunalnej w Podegrodziu - zarządca Cmentarza Komunalnego w Podrzeczu 
            informuje, że załatwianie spraw formalno-organizacyjnych dot. cmentarza ( w tym dotyczących
            pogrzebów), odbywa się w siedzibie gminnej oczyszczalni ścieków w Podrzeczu, w godzinach 8.00-16:00.
            <br>
            Sprawami zajmuje się Pan <b>Michał Pietrzak</b><br>
            W sprawach nagłych prosimy o kontakt pod numerem telefonu: <b>662 479 950</b><br>
          
          <br>
          <h5>
            Jeśli masz pomysł na nową funkcjonalność na stronie, znalałeś błąd w danych prezentowanych na stronie
            lub strona nie działa poprawnie skontaktuj się z adminstatorem strony pod adresem mailowym: <b>kamil.leczycki.ns@gmail.com</b>
          </h5>
          </h5>
          <br>
          <br>
        </div>
          
      </div>
      <br>
      <div class="col-md-6">
        <div class="picture-element">
          <!-- <img src="http://212.59.240.132/zdjecia/podrzecze/galeria/2.JPG" class="img-fluid" alt="cmentarz"> -->
          <img src="https://i.ibb.co/G2m94ss/IMG-20190929-135824.jpg" class="img-fluid" alt="cmentarz">
           
        </div>
      </div>
          
    </div>
    </div>