<div class="grid-container">
  <svg id="svgMap" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 30">
    <!-- 1 alejka -->
    <rect class="tomb" id=1 x="85%" y="3.50%" width="2.42%" height="6.28%" data-label="Test-Label" (click)='getTombInfo($event)'></rect>
    <rect class="tomb" id=2 x="85%" y="10.03%" width="2.42%" height="6.28%" title="Abc 5" (click)='getTombInfo($event)'></rect>
    <rect class="tomb" id=3 x="85%" y="16.56%" width="2.42%" height="4.28%" title="Abc 5" (click)='getTombInfo($event)'></rect>
    <rect class="tomb" id=4 x="85%" y="21.09%" width="2.42%" height="6.28%" title="Abc 5" (click)='getTombInfo($event)'></rect>

    <!-- Janik -->
    <rect class="tomb" id=5 x="82.36%" y="3.50%" width="2.42%" height="6.28%" title="Abc 5" (click)='getTombInfo($event)'></rect>
    <rect class="tomb" id=6 x="82.36%" y="10.03%" width="2.42%" height="6.28%" title="Abc 5" (click)='getTombInfo($event)'></rect>
    <rect class="tomb" id=7 x="82.36%" y="16.56%" width="2.42%" height="4.28%" title="Abc 5" (click)='getTombInfo($event)'></rect>
    <rect class="tomb" id=8 x="82.36%" y="21.09%" width="2.42%" height="6.28%" title="Abc 5" (click)='getTombInfo($event)'></rect>

    <!-- Gucwa -->
    <rect class="tomb" id=9 x="77.94%" y="3.50%" width="2.42%" height="4.28%" title="Abc 5" (click)='getTombInfo($event)'></rect>
    <rect class="tomb" id=10 x="77.94%" y="8.39%" width="2.42%" height="4.28%" title="Abc 5" (click)='getTombInfo($event)'></rect>
    <rect class="tomb" id=11 x="77.94%" y="13.25%" width="2.42%" height="4.28%" title="Abc 5" (click)='getTombInfo($event)'></rect>
    <rect class="tomb" id=12 x="77.94%" y="18.14%" width="2.42%" height="4.28%" title="Abc 5" (click)='getTombInfo($event)'></rect>
    <rect class="tomb" id=13 x="77.94%" y="23.03%" width="2.42%" height="4.28%" title="Abc 5" (click)='getTombInfo($event)'></rect>

    <!-- Mordarski -->
    <rect class="tomb" id=14 x="75.27%" y="3.50%" width="2.42%" height="4.28%" title="Abc 5" (click)='getTombInfo($event)'></rect>
    <rect class="tomb" id=15 x="75.27%" y="8.39%" width="2.42%" height="4.28%" title="Abc 5" (click)='getTombInfo($event)'></rect>
    <rect class="tomb" id=16 x="75.27%" y="13.25%" width="2.42%" height="4.28%" title="Abc 5" (click)='getTombInfo($event)'></rect>
    <rect class="tomb" id=17 x="75.27%" y="23.03%" width="2.42%" height="4.28%" title="Abc 5" (click)='getTombInfo($event)'></rect>

    <!-- Dziadek -->
    <rect class="tomb" id=18 x="70.85%" y="3.50%" width="2.42%" height="4.28%" title="Abc 5" (click)='getTombInfo($event)'></rect>
    <rect class="tomb" id=19 x="70.85%" y="8.39%" width="2.42%" height="4.28%" title="Abc 5" (click)='getTombInfo($event)'></rect>
    <rect class="tomb" id=20 x="70.85%" y="13.25%" width="2.42%" height="4.28%" title="Abc 5" (click)='getTombInfo($event)'></rect>
    <rect class="tomb" id=21 x="70.85%" y="23.03%" width="2.42%" height="4.28%" title="Abc 5" (click)='getTombInfo($event)'></rect>

    <!-- Salamon -->
    <rect class="tomb" id=22 x="68.18%" y="3.50%" width="2.42%" height="4.28%" title="Abc 5" (click)='getTombInfo($event)'></rect>
    <rect class="tomb" id=23 x="68.18%" y="8.39%" width="2.42%" height="4.28%" title="Abc 5" (click)='getTombInfo($event)'></rect>
    <rect class="tomb" id=24 x="68.18%" y="13.25%" width="2.42%" height="4.28%" title="Abc 5" (click)='getTombInfo($event)'></rect>
    <rect class="tomb" id=25 x="68.18%" y="18.14%" width="2.42%" height="4.28%" title="Abc 5" (click)='getTombInfo($event)'></rect>
    <rect class="tomb" id=26 x="68.18%" y="23.03%" width="2.42%" height="4.28%" title="Abc 5" (click)='getTombInfo($event)'></rect>

    <!-- Fałowski -->
    <rect class="tomb" id=27 x="63.76%" y="3.00%" width="2.42%" height="4.28%" title="Abc 5" (click)='getTombInfo($event)'></rect>
    <rect class="tomb" id=28 x="63.76%" y="7.89%" width="2.42%" height="4.28%" title="Abc 5" (click)='getTombInfo($event)'></rect>
    <rect class="tomb" id=29 x="63.76%" y="12.75%" width="2.42%" height="4.28%" title="Abc 5" (click)='getTombInfo($event)'></rect>
    <rect class="tomb" id=30 x="63.76%" y="17.44%" width="2.42%" height="4.78%" title="Abc 5" (click)='getTombInfo($event)'></rect>
    <rect class="tomb" id=31 x="63.76%" y="22.53%" width="2.42%" height="4.78%" title="Abc 5" (click)='getTombInfo($event)'></rect>

    <!-- Ledniowska -->
    <rect class="tomb" id=32 x="61.09%" y="3.50%" width="2.42%" height="4.28%" title="Abc 5" (click)='getTombInfo($event)'></rect>
    <rect class="tomb" id=33 x="61.09%" y="8.39%" width="2.42%" height="4.28%" title="Abc 5" (click)='getTombInfo($event)'></rect>
    <rect class="tomb" id=34 x="61.09%" y="13.25%" width="2.42%" height="4.28%" title="Abc 5" (click)='getTombInfo($event)'></rect>
    <rect class="tomb" id=35 x="61.09%" y="18.14%" width="2.42%" height="4.28%" title="Abc 5" (click)='getTombInfo($event)'></rect>
    <rect class="tomb" id=36 x="61.09%" y="23.03%" width="2.42%" height="4.28%" title="Abc 5" (click)='getTombInfo($event)'></rect>

    <!-- Zaryczny -->
    <rect class="tomb" id=37 x="56.94%" y="2.68%" width="2.42%" height="3.88%" title="Abc 5" (click)='getTombInfo($event)'></rect>
    <rect class="tomb" id=38 x="56.94%" y="6.71%" width="2.42%" height="3.88%" title="Abc 5" (click)='getTombInfo($event)' ></rect>
    <rect class="tomb" id=39 x="56.94%" y="10.83%" width="2.42%" height="3.88%" title="Abc 5" (click)='getTombInfo($event)'></rect>
    <rect class="tomb" id=40 x="56.94%" y="14.97%" width="2.42%" height="3.88%" title="Abc 5" (click)='getTombInfo($event)'></rect>
    <rect class="tomb" id=41 x="56.94%" y="19.10%" width="2.42%" height="3.88%" title="Abc 5" (click)='getTombInfo($event)'></rect>
    <rect class="tomb" id=42 x="56.94%" y="23.23%" width="2.42%" height="3.88%" title="Abc 5" (click)='getTombInfo($event)'></rect>
  


    <!-- alejka 2 -->
    <rect class="tomb" id=723 x="85.20%" y="27.86%" width="2.22%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=724 x="82.73%" y="27.86%" width="2.22%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=725 x="80.66%" y="27.86%" width="1.82%" height="8.28%" title="Abc 5"  ></rect>
    
    <rect class="tomb" id=726 x="78.99%" y="27.86%" width="1.42%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=727 x="77.23%" y="27.86%" width="1.52%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=728 x="75.35%" y="27.86%" width="1.62%" height="8.28%" title="Abc 5"  ></rect>
    
    <rect class="tomb" id=729 x="73.48%" y="27.86%" width="1.62%" height="8.28%" title="Abc 5"  ></rect>
  
    <rect class="tomb" id=730 x="71.61%" y="27.86%" width="1.62%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=731 x="69.74%" y="27.86%" width="1.62%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=732 x="67.87%" y="27.86%" width="1.62%" height="8.28%" title="Abc 5"  ></rect>  <!-- Michał Krupa -->
    
    <rect class="tomb" id=733 x="65.80%" y="27.86%" width="1.82%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=734 x="63.73%" y="27.86%" width="1.82%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=735 x="61.70%" y="27.86%" width="1.52%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=736 x="59.83%" y="27.86%" width="1.52%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=737 x="57.95%" y="27.86%" width="1.52%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=738 x="55.88%" y="27.86%" width="1.82%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=739 x="53.91%" y="27.86%" width="1.52%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=740 x="52.32%" y="27.86%" width="1.42%" height="8.28%" title="Abc 5"  ></rect>

    <!-- alejka 2 - chodnik -->
    <rect class="road" x="0%" y="36.39%" width="88%" height="8%" title="Abc 5"></rect>
    
    
    <rect class="tomb" id=741 x="84.5%" y="44.64%" width="2.42%" height="5.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=742 x="84.5%" y="50.17%" width="2.42%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=743 x="84.5%" y="58.70%" width="2.42%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=744 x="84.5%" y="67.23%" width="2.42%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=745 x="85.1%" y="75.76%" width="1.82%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=746 x="85.3%" y="84.29%" width="1.52%" height="8.28%" title="Abc 5"  ></rect>

    <!-- alejka 1 - chodnik -->
    <rect class="road" x="0%" y="92.82%" width="88%" height="14%" title="Abc 5"></rect>

    <!-- Baniak -->
    <rect class="tomb" id=747 x="81.58%" y="84.29%" width="2.02%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=748 x="79.21%" y="84.29%" width="1.62%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=749 x="77.24%" y="84.29%" width="1.62%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=750 x="75.27%" y="84.29%" width="1.62%" height="8.28%" title="Abc 5"  ></rect>

    <!-- Krzyż -->
    <rect x="68.90%" y="85.29%" width="4.62%" height="2.28%" title="Abc 5" fill="#B8860B"></rect>
    <rect x="70.25%" y="87.90%" width="2%" height="4%" title="Abc 5"  ></rect>

    <!-- Fałowski -->
    <rect class="tomb" id=751 x="68.30%" y="75.76%" width="2.02%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=752 x="72.32%" y="75.76%" width="2.02%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=753 x="74.64%" y="75.76%" width="2.02%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=754 x="76.96%" y="75.76%" width="2.02%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=755 x="79.28%" y="75.76%" width="2.02%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=756 x="81.70%" y="75.76%" width="2.02%" height="8.28%" title="Abc 5"  ></rect>

    <!-- Zygmunt -->
    <rect class="tomb" id=57 x="68.50%" y="67.23%" width="1.62%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=58 x="70.67%" y="67.23%" width="1.32%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=59 x="72.34%" y="67.23%" width="1.62%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=60 x="74.21%" y="67.23%" width="1.62%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=61 x="76.08%" y="67.23%" width="1.62%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=62 x="77.95%" y="67.23%" width="2.02%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=63 x="80.22%" y="67.23%" width="2.02%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=64 x="82.49%" y="67.23%" width="1.62%" height="8.28%" title="Abc 5"  ></rect>

    <!-- grób dziecka -->
    <rect class="tomb" id=65 x="68.80%" y="58.00%" width="2.02%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=66 x="71.07%" y="58.20%" width="2.02%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=67 x="73.34%" y="58.40%" width="2.02%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=68 x="75.61%" y="58.70%" width="1.62%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=69 x="77.48%" y="58.70%" width="1.62%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=70 x="79.35%" y="58.70%" width="1.62%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=71 x="81.22%" y="58.70%" width="1.62%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=72 x="83.29%" y="60.70%" width="0.82%" height="3.28%" title="Abc 5"  ></rect>

    <!-- pierwszy rząd -->
    <rect class="tomb" id=73 x="68.80%" y="48.47%" width="1.52%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=74 x="70.57%" y="48.47%" width="1.52%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=75 x="72.34%" y="48.47%" width="1.52%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=76 x="74.25%" y="49.47%" width="1.72%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=77 x="76.22%" y="49.47%" width="1.42%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=78 x="77.89%" y="49.47%" width="1.42%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=79 x="79.46%" y="49.47%" width="1.62%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=80 x="81.22%" y="44.64%" width="1.62%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=81 x="82.89%" y="44.64%" width="1.62%" height="8.28%" title="Abc 5"  ></rect>

    <!-- Pietrzak -->
    <rect class="tomb" id=82 x="65.16%" y="48.67%" width="1.52%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=83 x="63.22%" y="48.67%" width="1.72%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=84 x="61.45%" y="47.67%" width="1.52%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=85 x="59.23%" y="46.67%" width="1.82%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=86 x="57.31%" y="46.04%" width="1.62%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=87 x="55.39%" y="46.04%" width="1.62%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=88 x="53.47%" y="46.04%" width="1.62%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=89 x="51.55%" y="46.04%" width="1.62%" height="8.28%" title="Abc 5"  ></rect>

    <!-- alejka pionowa 1 - chodnik -->
    <rect class="road" x="49%" y="37.09%" width="2.30%" height="60%" title="Abc 5"></rect>

    <rect class="tomb" id=90 x="51.55%" y="84.29%" width="1.82%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=91 x="53.82%" y="84.29%" width="1.52%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=92 x="55.69%" y="84.29%" width="1.82%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=93 x="57.76%" y="84.29%" width="1.82%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=94 x="59.83%" y="84.29%" width="1.82%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=95 x="62.30%" y="84.29%" width="1.82%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=96 x="64.87%" y="84.29%" width="1.92%" height="8.28%" title="Abc 5"  ></rect>

    <!-- Mrzygłód -->
    <rect class="tomb" id=97 x="51.55%" y="75.76%" width="2.02%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=98 x="53.82%" y="75.76%" width="1.52%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=98 x="55.99%" y="75.76%" width="1.92%" height="8.08%" title="Abc 5"  ></rect>
    <rect class="tomb" id=99 x="58.56%" y="75.76%" width="1.52%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=100 x="60.33%" y="75.76%" width="1.52%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=101 x="62.20%" y="75.76%" width="1.52%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=102 x="64.27%" y="75.76%" width="1.52%" height="8.28%" title="Abc 5"  ></rect>

  
    
    <rect class="tomb" id=103 x="47.13%" y="84.29%" width="1.62%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=104 x="45.26%" y="84.29%" width="1.62%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=105 x="43.39%" y="84.29%" width="1.62%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=106 x="41.52%" y="84.29%" width="1.62%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=107 x="39.65%" y="84.29%" width="1.62%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=108 x="37.78%" y="84.29%" width="1.62%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=109 x="36.11%" y="84.29%" width="1.42%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=110 x="34.24%" y="84.29%" width="1.42%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=111 x="32.47%" y="84.29%" width="1.42%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=112 x="30.20%" y="84.29%" width="1.62%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=113 x="28.53%" y="84.29%" width="1.42%" height="8.28%" title="Abc 5"  ></rect>

    <!-- alejka pionowa 2 - chodnik -->
    <rect class="road" x="25.85%" y="37.09%" width="2.30%" height="60%" title="Abc 5"></rect>
  
    <!-- przod pietrzak -->
    <rect class="tomb" id=120 x="51.55%" y="57.70%" width="1.62%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=121 x="53.32%" y="57.70%" width="1.52%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=122 x="55.09%" y="57.70%" width="1.52%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=123 x="56.86%" y="57.70%" width="1.52%" height="8.28%" title="Abc 5"  ></rect> 
    <rect class="tomb" id=124 x="58.70%" y="58.22%" width="1.42%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=125 x="60.20%" y="58.22%" width="1.42%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=126 x="61.77%" y="58.22%" width="1.42%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=127 x="63.29%" y="58.22%" width="1.42%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=128 x="64.86%" y="58.22%" width="1.62%" height="8.28%" title="Abc 5"  ></rect>
   
    <rect class="tomb" id=129 x="51.55%" y="67.23%" width="1.22%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=130 x="52.92%" y="67.23%" width="1.72%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=131 x="54.89%" y="67.23%" width="1.32%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=132 x="56.41%" y="67.23%" width="1.32%" height="7.68%" title="Abc 5"  ></rect>
    <rect class="tomb" id=133 x="57.83%" y="67.23%" width="1.32%" height="7.68%" title="Abc 5"  ></rect>
    <rect class="tomb" id=134 x="59.30%" y="67.23%" width="1.32%" height="7.68%" title="Abc 5"  ></rect>
    <rect class="tomb" id=135 x="61.12%" y="67.23%" width="1.72%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=136 x="64.66%" y="67.23%" width="1.72%" height="8.28%" title="Abc 5"  ></rect>
    

    <rect class="tomb" id=137 x="47.13%" y="75.76%" width="1.62%" height="7.68%" title="Abc 5"  ></rect>
    <rect class="tomb" id=138 x="45.26%" y="75.76%" width="1.62%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=139 x="43.54%" y="75.76%" width="1.62%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=140 x="41.90%" y="75.76%" width="1.42%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=141 x="39.94%" y="75.76%" width="1.52%" height="7.88%" title="Abc 5"  ></rect>
    <rect class="tomb" id=142 x="38.19%" y="75.76%" width="1.52%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=143 x="36.45%" y="75.76%" width="1.52%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=144 x="34.65%" y="75.76%" width="1.52%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=145 x="32.83%" y="75.76%" width="1.52%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=146 x="28.53%" y="75.76%" width="1.52%" height="8.28%" title="Abc 5"  ></rect>

    <rect class="tomb" id=147 x="30.20%" y="67.13%" width="1.52%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=148 x="31.97%" y="67.13%" width="1.52%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=149 x="33.74%" y="67.13%" width="1.52%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=150 x="35.31%" y="67.13%" width="1.32%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=151 x="36.73%" y="67.13%" width="1.22%" height="7.58%" title="Abc 5"  ></rect>
    <rect class="tomb" id=152 x="38.17%" y="67.13%" width="1.32%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=153 x="40.33%" y="67.13%" width="1.52%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=154 x="42.05%" y="67.13%" width="1.52%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=156 x="43.67%" y="67.13%" width="1.52%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=157 x="45.39%" y="67.13%" width="1.62%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=158 x="47.31%" y="67.13%" width="1.52%" height="8.28%" title="Abc 5"  ></rect>


    <rect class="tomb" id=171 x="28.32%" y="57.73%" width="1.32%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=170 x="29.70%" y="57.73%" width="1.32%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=169 x="31.10%" y="57.73%" width="1.32%" height="8.28%" title="Abc 5"  ></rect>
    
    <rect class="tomb" id=168 x="32.72%" y="57.73%" width="1.32%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=167 x="34.16%" y="57.73%" width="1.32%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=166 x="35.60%" y="57.73%" width="1.32%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=165 x="37.02%" y="57.73%" width="1.32%" height="8.28%" title="Abc 5"  ></rect>
    

    <rect class="tomb" id=164 x="38.69%" y="57.73%" width="1.52%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=163 x="40.33%" y="57.73%" width="1.52%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=162 x="42.05%" y="57.73%" width="1.52%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=161 x="43.67%" y="57.73%" width="1.42%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=160 x="45.39%" y="57.73%" width="1.42%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=159 x="47.31%" y="57.73%" width="1.42%" height="8.28%" title="Abc 5"  ></rect>

    <rect class="tomb" id=172 x="46.92%" y="52.50%" width="0.82%" height="3.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=173 x="47.91%" y="52.70%" width="0.82%" height="3.28%" title="Abc 5"  ></rect>


      <!-- Bryja -->
    <rect class="tomb" id=174 x="23.98%" y="84.29%" width="1.62%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=175 x="22.11%" y="84.29%" width="1.62%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=176 x="20.44%" y="84.29%" width="1.42%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=177 x="18.67%" y="84.29%" width="1.52%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=178 x="16.90%" y="84.29%" width="1.52%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=179 x="15.13%" y="84.29%" width="1.52%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=180 x="23.98%" y="75.76%" width="1.62%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=181 x="22.45%" y="75.76%" width="1.22%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=182 x="21.04%" y="75.76%" width="1.22%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=183 x="19.71%" y="75.76%" width="1.22%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=184 x="24.31%" y="67.26%" width="1.22%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=185 x="22.84%" y="67.26%" width="1.22%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=186 x="21.43%" y="67.26%" width="1.22%" height="8.28%" title="Abc 5"  ></rect>
  
    <!-- alejka 2 dalsza czesc -->
    <rect class="tomb" id=187 x="47.13%" y="27.86%" width="1.62%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=188 x="45.26%" y="27.86%" width="1.62%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=189 x="43.39%" y="27.86%" width="1.62%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=190 x="41.52%" y="27.86%" width="1.62%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=191 x="39.65%" y="27.86%" width="1.62%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=192 x="35.95%" y="27.86%" width="1.62%" height="8.28%" title="Abc 5"  ></rect>
    <rect class="tomb" id=193 x="31.95%" y="27.86%" width="1.62%" height="8.28%" title="Abc 5"  ></rect>
    
    <!-- alejka przy płocie -->
    <rect class="road" x="87.60%" y="1%" width="2.30%" height="100%" title="Abc 5"></rect>

    <!-- płot -->
    <rect class="fence" x="90.40%" y="0%" width="0.80%" height="100%" title="Abc 5"></rect>

    <!-- parking -->
    <rect class="parking" x="91.5%" y="15%" width="8.30%" height="100%" title="Abc 5"></rect>
    <!-- <text x="95.5%" y="45%" font-family="Calibri" font-size="3" fill="black" style="writing-mode: tb;">Parking</text> -->
    
    <!-- brama -->
    <rect x="90.40%" y="90%" width="0.80%" height="100%" title="Abc 5" fill="#C2C9CB"></rect>
    <text x="92.5%" y="96.85%" font-family="Calibri" font-size="2" fill="black">Wejście</text>
    

    <!-- kontener -->
    <rect x="91.75%" y="15.5%" width="2.32%" height="11.28%" title="Abc 5" fill="#437DBB"></rect>

    <!-- toitoi -->
    <rect x="94.32%" y="6.40%" width="1.42%" height="5.28%" title="Abc 5" fill="#9AB9C3"></rect>

    <!-- schowek -->
    <rect x="91.50%" y="3.50%" width="2.62%" height="8.28%" title="Abc 5" fill="#3F4B4F"></rect>


  </svg>
</div>
